@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Outfit:wght@100;400;700&family=Patrick+Hand&family=Poppins:wght@500&family=Readex+Pro:wght@200;300;400;500;700&family=Tinos&display=swap');
@import url('https://fonts.cdnfonts.com/css/rubber-duck');

#root {
  margin: 0 auto;
  font-family: 'Outfit';
}

.rubber-duck-font {
  margin: 0 auto;
  font-family: 'Rubber-Duck', sans-serif;
  font-size: 2.5rem;
}

.divider{
  height: 5px;
  width: 3rem;
  background: #9b7edb;
  border-radius: 5px;
  margin: 15px auto;

}

label{
  color: #666;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 1rem;
  display: block;
  text-align: left;
  margin: 20px 0 10px 0;
}

input, textarea{
  color: #333;
    /* padding: 2rem; */
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1.6rem;
    letter-spacing: 0;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
}


/* --- Home --- */

.home-btn {
  background: white;
  color: black;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 10px;
  font-size: 1.2rem;
  transition: transform .3s;
}

/* --- Icon Pulse Effect --- */

.project-icon:hover {
  transform: translateY(-5px);
}

.project-icon {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

/* --- Projects --- */

.projects{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 5rem;
  margin-bottom: 11rem;
}

.project-container {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem;
  padding: 1rem; /* Adjust padding as needed */
}

@media screen and (max-width: 576px){
  .projects{
    grid-template-columns: repeat(1, 1fr);
  }
}

.container {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: auto;
}


.btn{
  background: #bfa2ff;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 1rem 3.67rem;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
  transition: transform .3s;
}

.btn:hover {
  background: #9b7edb;
  transform: translateY(-3px);
}
